---
title: Definitive PDF/A verification
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body role="document">
   {% include navbar.html nav=site.data.navbar %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Welcome to the VeraPDF websites</h1>
            <p>This is a quick sample of one approach to a web site that's perhaps good enough for now?.</p>
            <p>It's based on GitHub pages and Bootstrap but it's just a working template.</p>
            <p><a href="/github" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>